.carousel-inner img {
    margin: auto;
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
 margin: auto;
 height: 300px;
}

.container{
    background: black;
    padding: 30px;
}

.mt-4 h1{
    color: white;
}
.mt-5  h1, label {
    color: white;
}

.cuerpo{
    background: black;
}

.parrafo p{
    width: 50%;
    float: none;
    margin: auto;
    color: white;
    text-align: center;
    text-align: justify;
}
/*Estilo de fuentes y dimensiones div footer*/
.footer p{
    padding: 30px;
    width: 450px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/*Dimensiones logo duoc*/
#logo{
    width: 250px;
    height: 250px;
}


